# fly.toml app configuration file generated for online-school on 2024-11-26T12:41:17+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'online-school'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = "/app/dist"
  url_prefix = "/"
