version: '3.8'

services:
  course-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: coursera-course-service
    ports:
      - '8080:8080'
    restart: unless-stopped