version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: 'user-service'
    container_name: user-service

    ports:
      - '8081:8081'
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
        reservations:
          cpus: '1'
          memory: 1G
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped

    volumes:
      - ./tmp:/app/tmp


networks:
  proxy_network:
    external: false
