# fly.toml app configuration file generated for userservice-quralay-deploy on 2024-09-21T22:34:00+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'userservice-quralay-deploy'
primary_region = 'waw'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
